[Unit]
Description=iCloud FUSE filesystem
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/local/bin/icloud-fuse.py %h/icloud
Restart=on-failure
RestartSec=30
KillMode=process

[Install]
WantedBy=default.target
